  <page-header></page-header>
  <div class="row">
  <div class="top col-lg-12 row">
  <h2 class="col-lg-12">Time Range</h2>
  <div class="user-input col-lg-12">
    <label>From</label>
    <input type="datetime-local" [(ngModel)]="from">
    <label>To</label>
    <input type="datetime-local" [(ngModel)]="to">
        <!-- <label>Interval</label>
    <input type="number" [(ngModel)]="interval"> -->
    <button (click)="submit()">Submit</button>
  <button style="float:right" (click)="getRecords()">Refresh</button>

  </div>
  </div>
    <div class="col-md-12" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <!-- <button (click)="randomize()">CLICK</button> -->
  </div>

  <div class="col-md-12">
    <div style="display: block;">
    <canvas baseChart width="400" height="80"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
